@font-face {
	font-family: OpenSans;
	src: url(../font/OpenSans-Regular.ttf);
}

* {
	font-family: OpenSans, sans-serif;
}

h1, h2, h3, p {
	color: transparent;
	text-shadow: 0px 0px 5px rgba(150, 150, 150, 0.3), 0 0 0 rgba(0, 0, 0, 0.4);
}

h1 {
	font-size: 80px;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 20px;
}

.sub .content {	
	padding: {
		left: 0px;
		right: 110px;
	}

	p {
		text-align: justify;
		text-indent: 25px;
		font-size: 12pt;
		line-height: 17pt;
		margin-bottom: 17pt;
	}

	#downArrow {
		max-width: 60%;
		max-height: 60%;

		margin: {
			left: auto;
			right: auto;
		}
	}
}

.column {
	width: 50%;
	height: 100%;
	float: left;

	&:first-child {
		padding-right: 10px;
	}

	&:last-child {
		padding-left: 10px;
	}
}

.arrowRightContainer {
	display: table-cell;
	vertical-align:middle;
	text-align: right;

	.arrowRight {
		max-width: 100%;
		max-height: 100%;
		width: auto;
		height: auto;
	}
}

.arrow {
	-webkit-transition: opacity .3s ease, bottom .1s ease, right .1s ease;
	opacity: .4;
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	position: relative;
	display: block;
	cursor: pointer;

	&:hover {
		opacity: .5;
	}

	&.down:hover {
		//bottom: -3px;
	}

	&.right:hover {
		//right: -3px;
	}
}