* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    position: relative;
}

body {
    font-size: 13pt;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    text-rendering: optimizeLegibility;
}
