<div class="content">
        <div class="column images">
                <div class="image big"></div>
                <div class="image small"></div>
                <div class="image small"></div>
        </div>
        <div class="column">
                <h1>biology</h1>
                <p>A course site system used by the Biology department and University of Washington. Used by multiple classes and thousands of students every quarter, it features robust security, multiple teaching tools, full featured api, and has a wide range of customizability. </p>

                <div class="tech">
                        php, symfony, doctrine, mysql, bcrypt, twig, html, javascript
                </div>

                <div class="images">
                        <a href="https://www.github.com/dmhurley/course-site" class="external button github" target="_blank"></a>
                        <a href="http://courses.biology.washington.edu/biol180" class="external button link" target="_blank"></a>
                </div>
        </div>
</div>