<div class="content">
	<div class="column images">
		<div title="add code" class="image big zoom"></div>
		<div title="customize settings" class="image med zoom"></div>
		<div title="review" class="image med zoom"></div>
	</div>
	<div class="column">
		<h1>gccUI</h1>
		<p>A better user interface for the Google Closure Compiler.</p>
		<p>Focuses on simplicity for beginning programmers, the ability to make on the fly changes to your code before compiling, helpful error messages, and aesthetically displaying compilation stats.</p>

		<div class="tech">
			html, javascript, sass
		</div>

		<div class="images">
		    <a href="https://github.com/nickclaw/ggcui" class="external button github" target="_blank"></a>
		</div>
	</div>
</div>