<div class="content">
        <div class="column images">
                <div class="image big"></div>
                <div class="image med"></div>
                <div class="image med"></div>
        </div>
        <div class="column">
                <h1>get lost</h1>
                <p>A mobile web and android app to facilitate urban exploration. Uses the Google Maps API and custom directions to lead users on a journey through their city.</p>

                <div class="tech">
                        javascript, sencha touch, google map api, sass
                </div>

                <div class="images">
                        <!--<a href="https://www.github.com/nickclaw/window-tiler" class="external button github" target="_blank"></a>-->
                        <!--<a href="https://chrome.google.com/webstore/detail/window-tiler/finlcpffocibdmdkmaobgeoofbiddmfp" class="external button chrome" target="_blank"></a>-->
                </div>
        </div>
</div>