<div class="content">
	<div class="column images">
	    <div class="image big"></div>
	    <div class="image small"></div>
	    <div class="image small"></div>
	</div>
	<div class="column">
	    <h1>sockdraw</h1>
	    <p>Utilizes the power of node and websockets to allow collaborative drawing on an HTML5 canvas.</p>
	    <p>Includes the ability to create custom brushes, share pictures, and create join private canvases.</p>
	    <div class="images">
	            <a href="https://github.com/nickclaw/SockDraw" class="external button github" target="_blank"></a>
	    </div>
	</div>
</div>