<div class="content">
        <div class="column images">
                <div class="image big zoom"></div>
                <div class="image med zoom"></div>
                <div class="image med"></div>
        </div>
        <div class="column">
                <h1>window tiler</h1>
                <p>A Chrome extension to quickly position windows. It features basic tab management utilities, support for multiple screens, responsive layout options, and a quick interface.</p>

                <div class="tech">
                        javascript, chrome api, html, sass
                </div>

                <div class="images">
                        <a href="https://www.github.com/nickclaw/window-tiler" class="external button github" target="_blank"></a>
                        <a href="https://chrome.google.com/webstore/detail/window-tiler/finlcpffocibdmdkmaobgeoofbiddmfp" class="external button chrome" target="_blank"></a>
                </div>
        </div>
</div>