<div class="content">
    <h2>about me</h2>
    <p>I was born in Los Angeles, but spent my childhood growing up in beautiful Bellingham, Washington. As a kid I pursued a variety of subjects, excelling in everything from filmmaking to 3D modeling. I currently live in Seattle and am working to earn a Bachelors of Science in Informatics from the University of Washington, with a focus on Human Computer Interaction.</p>

    <div class="images">
    	<div title="city of subdued excitement" class="image min zoom"></div>
    	<div title="safety video" class="image min zoom"></div>
    	<div title="the uw" class="image min zoom"></div>
    </div>
</div>
