 <div class="content">
    <h1>now</h1>
    <div>
    <div class="column">
    	<p>In addition to attending college full time, I work as a web developer for the Department of Biology at UW, <a class="internal" href="/experience/biology">creating and maintaining</a> a service used by thousands of students every quarter. I also volunteer my time working with a team to develop an advanced touch screen interface for the <a class="internal" href="/experience/ecocar" class="internal">UW EcoCar2 team</a>.</p>
    </div>
    <div class="column">
    	<div class="images">
	    	<div title="goat lake" class="image med zoom"></div>
	    	<div title="deck the hall ball" class="image med zoom"></div>
	    </div>
    </div>
    </div>

    <p>When I'm not busy doing extracurriculars and <a class="internal" href="/projects">side projects</a>, I enjoy camping, backpacking, skiing, playing tennis, and attending local concerts with my friends.</p>
</div>