<div class="content">
        <h1>experience</h1>
        <p>In addition to attending college full time, Nick does web development for the Department of Biology at UW, <a class="internal" href="/projects/biology">creating and maintaining</a> services used by thousands of students every quarter. And works with a team to develop an advanced touch screen interface for the <a href="/projects/ecocar" class="internal">UW EcoCar2 team</a>.</p>

        <p>When he's not doing extracurriculars, Nick enjoys camping, backpacking, skiing, playing tennis, and attending concerts with his friends.</p>
</div>
