<div class="content">
        <img id="logo" src="/static/image/logo.png" alt="nick clawson" />
        <p id="script">Navigate with the arrows, your arrow keys, scroll wheel, or finger.</p>
        <noscript>
                <p id="noscript">Uh oh. It looks like you have javascript disabled. A few features not might work.</p>
        </noscript>
        <div id="instructions">
                <a href="/about" class="internal">
                        <img id="downArrow" class="down arrow" src="/static/image/arrows/arrow_large_skinny_down.png" />
                </a>
        </div>
</div>