<div class="content">
        <div class="column images">
                <div class="image big"></div>
                <div class="image small"></div>
                <div class="image small"></div>
        </div>
        <div class="column">
                <h1>ecocar</h1>
                <p>Part of the international EcoCar competition, worked in a team to design and develop a touch screen interface to replace the dashboard of the car.</p>

                <p>Focused on creating an interface that was simple, safe, and appealing. Recieved 2nd place in the competition.</p>

                <div class="tech">
                        javascript, html, sass, sencha touch, java
                </div>

                <div class="images">
                <a href="https://github.com/MixMasterMitch/UWCenterStack" class="external button github" target="_blank"></a>
                <a href="http://www.uwecocar2.com" class="external button link" target="_blank"></a>
                </div>
        </div>
</div>