/* global styles */

@import 'fonts/roboto';
@import 'typography';
@import 'links';
@import '~normalize.css/normalize';

:global(body) {
  * {
    margin: 0;
    padding: 0;
    position: relative;
  }

  .container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }
}
