{#
 #	recursively creates the containers and pages
 #	creates all necessary nav bars
 #	loads the necessary page
 #	@param data the site data
 #	@param url the base url
 #	@param currentPath the path of container ids ending with the page to load
 #}
{% macro createLayout(layout, url, id, currentPath) %}
	
	{% if layout.children|length > 1 %}
		{{ createNav(layout, url) }}
	{% endif %}

	{% for name, data in layout.children %}
		{% set newId = id|joinify(name, '_') %}

		{% set isLoaded = currentPath|length == 0 or name == currentPath|first %}
		{% if data.children|default(false) %}
			<div id="{{ newId }}" class="container {{ data.classes }}{% if isLoaded %} loaded {% else %} unloaded {% endif %}">

				{% if isLoaded %}
					{{ createLayout(data, url|joinify(data.url, '/'), newId, currentPath|shift) }}
				{% endif %}
			</div>
		{% else %}
			<div id="{{ newId }}" class=" {{ data.classes }}{% if isLoaded %} loaded {% else %} unloaded {% endif %}" data-internal="/{{url|joinify(data.url, '/')}}">
				{% if isLoaded %}
					{{ load(newId) }}
				{% endif %}
			</div>
		{% endif %}
	{% endfor %}
{% endmacro %}



{#
 #	creates nav bar
 #	@ param data the parent of the nav bar
 #	@ param url the parents global url
 #}
{% macro createNav(data, u) %}
	<div class="nav hidden">
		<div class="indicators">
			<div class="control first"></div>
			{% for name,child in data.children %}
				<a class="indicator internal" data-index="{{loop.index0}}" data-title="{{ child.title }}" href="/{{ u|joinify(child.url, '/') }}"></a>
			{% endfor %}
			<div class="control last"></div>
		</div>
	</div>
{% endmacro %}



{#
 #	loads one page
 #	@param id the id of the container/the name of the file (NEED TO BE THE SAME)
 #}
{% macro load(id) %}
	{% set location = id|replace('_', '/', 'g')+'.html' %}	
	{% include location %}
{% endmacro %}