{% import 'imports.html' as fn %}
<!DOCTYPE html>
<html>
	<head>
		<title>nickclaw</title>
		<link href="/static/css/main.css" rel="stylesheet" type="text/css">
		<link rel="icon" type="image/png" href="/static/image/favicon.png">
		<link rel="author" href="https://plus.google.com/110735255984565527909">

		<!-- no mobile zoom please -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<meta http-equiv="content-Type" content="text/html; charset=utf-8">
		<meta name="Portfolio website of Nicholas Clawson">
		<meta name="nick clawson nicholas portfolio ecocar eco car university washington biology department informatics info ischool contact github symfony sencha touch">
		<meta name="ROBOTS" content="NOODP">
		<noscript>
			<link href="/static/css/noscript.css" rel="stylesheet" type="text/css" />
		</noscript>
	</head>
	<body>
		<div id="overlay"></div>
		{{ fn.createLayout(mainLayout, "", "", path) }}

		<!-- deferred loading google style -->
		<script>
			function downloadJSAtOnload() {
				var element = document.createElement("script");
				element.src = "/static/js/script.js";
				document.body.appendChild(element);
			}

			if (window.addEventListener) {
				window.addEventListener("DOMContentLoaded", downloadJSAtOnload, false);
			} else if (window.attachEvent) {
				window.attachEvent("onload", downloadJSAtOnload);
			} else {
				window.onload = downloadJSAtOnload;
			}
		</script>
	</body>
</html>
