{% import 'imports.html' as fn %}
<!DOCTYPE html>
<html>
	<head>
		<title>nickclaw</title>
		<link href="/static/css/main.css" rel="stylesheet" type="text/css">
		<link rel="icon" type="image/png" href="/static/image/favicon.png">
		<link rel="author" href="https://plus.google.com/110735255984565527909">

		<meta http-equiv="content-Type" content="text/html; charset=utf-8">
		<meta name="Nick Clawsons personal portfolio.">
		<meta name="nick clawson nicholas portfolio ecocar eco car university washington biology department informatics info ischool contact github symfony sencha touch">
		<meta name="ROBOTS" content="NOODP">
		<!-- TODO learn how to do multiline sed -->
		<!--COMPILE--><script src="/static/js/external/jquery.min.js"></script><script src="/static/js/external/jquery.history.js"></script><script src="/static/js/pages.js"></script><script src="/static/js/Page.js"></script><script src="/static/js/PageManager.js"></script><script src="/static/js/Scroller.js"></script><script src="/static/js/Listener.js"></script><script src="/static/js/Site.js"></script><!--ENDCOMPILE-->

		<noscript>
			<link href="/static/css/noscript.css" rel="stylesheet" type="text/css" />
		</noscript>
	</head>
	<body>
		{{ fn.createLayout(mainLayout, "", "", path) }}
	</body>
</html>
