.button {
	width: 64px;
	height: 64px;
	display: inline-block;
	opacity: .6;
	transition: opacity .2s ease;

	&:hover {
		opacity: .7;
	}
	
	background: {
		repeat: no-repeat;
		size: contain;
	}

	&.github {
		background-image: url(../image/buttons/github.png);
	}

	&.chrome {
		background-image: url(../image/buttons/chrome.png);
	}


	&.mail {
		background-image: url(../image/buttons/mail.png);
	}

	&.phone {
		background-image: url(../image/buttons/phone.png);
	}

	&.plus {
		background-image: url(../image/buttons/plus.png);
	}

	&.facebook {
		background-image: url(../image/buttons/facebook.png);
	}

	&.link {
		background-image: url(../image/buttons/link.png);
	}

	&.resume {
		background-image: url(../image/buttons/resume.png);
	}
}