* {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}

h1, h2, h3, p {
	color: rgba(0,0,0,.6);
}

h1 {
	font-size: 50px;
	line-height: 55px;
}
h2 {
	font-size: 35px;
	line-height: 35px;
}

.tech {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 80%;
	margin: 12px;
	text-align: center;
	opacity: .5;
}


@media all and (max-width: 899px) {
	.sub {
		text-align:right !important;
		.content {
			max-width: 800px !important;
			padding-right: 100px;
		}
	}
}

@media all and (max-width: 824px) {
	.sub {
		.content {
			padding-left: 25px;
			max-width: 825px !important;
		}
	}
}

.content {

	@media all and (max-width: 825px) {
		
	}

	p {
		text-align: justify;
		text-indent: 45px;
		font-size: 15pt;
		line-height: 20pt;
		margin-bottom: 10pt;

		@media all and (max-width: 700px), all and (max-height: 580px) {
			font-size: 13pt;
			line-height: 16pt;
			margin-bottom: 8pt;
		}
	}

	#instructions {
		text-align:center;
	}
}

	.column {
		width: 50%;
		height: 100%;
		float: left;

		@media all and (orientation: vertical) {
			float:none;
			width: 100%;
			height: auto;

			.image.small {
				display:none;
				width:30%;
				padding-top:30%;
			}

			&.images, .images {
				width: 70%;
				margin: 0 auto;
			}

			h2 {
				text-align:center;
			}
		}

		&:first-child {
			padding-right: 10px;
		}

		&:last-child {
			padding-left: 10px;
		}
	}

p a.internal {

	text-decoration: none;
	color:black;
	opacity: .65;
	
	&:before {
		content: "";
	background: {
		image: url(../image/buttons/link.png);
		repeat: no-repeat;
		size:contain;
	}
	opacity:.5;
	display: inline-block;
	width: 1em;
	margin-top:.2em;
	height: .8em;
	}
}

.button {
	-webkit-transform: translateZ(0);

}