.image {
	background: {
		size: cover;
		repeat: no-repeat;
		color: white;
		position: 50%;
		image : attr(data-src);
	}
	border-radius: 100%;
	display: inline-block;
	box-shadow: 0px 5px 10px rgba(255,255,255,.3) inset, 0px 5px 10px rgba(0,0,0,.3);
	height: 0px;

	margin: 1%;

	&.zoom {
		cursor: pointer;
		transition: all .5s ease;
	}
	&.zoom:hover {
		box-shadow: 0px 5px 10px rgba(100,100,100,.5) inset, 0px 5px 10px rgba(0,0,0,.5);
	}

	&.zoomed {
		z-index: 21;
		position: absolute;
		opacity: 0; // gets animated
		box-shadow: none !important;
		box-sizing: content-box;
		border-radius: 40px;
		overflow: hidden;


		&:after {
			content: attr(title);
			display: block;
			position: absolute;
			right: 20px;
			bottom: 20px;
			color: white;
			text-shadow: 0px 0px 6px black;
			font-size: 25pt;
			white-space: nowrap;
			height: 25pt;
		}
	}


	&.max {
		width: 90%;
		padding-top: 90%;
	}

	&.big {
		width: 75%;
		padding-top: 75%;
	}

	&.large {
		width: 55%;
		padding-top: 55%;
	}

	&.med {
		width: 40%;
		padding-top: 40%;
	}

	&.min {
		width: 20%;
		padding-top: 20%;
	}

	h1,h2,h3,h4,h5,h6,p {
		margin: {
			top: -90%;
			left: auto;
			right: auto;
		}
		width: 100%;
		text-align:center;
	}
}

.images {
	text-align:center;
}