@import "nav.scss";
@import "content.scss";
@import "buttons.scss";
@import "pages.scss";
@import "arrows.scss";
@import "images.scss";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	position: relative;
}

body, html, .container, .page {
	width: 100%;
	height: 100%;
}

body {
	user-select: none;
	cursor: pointer;
	cursor: grab;

	&.grabbing {
		cursor: grabbing;
	}
}

.container {
	overflow: hidden;

	&.horizontal {
		white-space: nowrap;

		> .page {
			display: inline-block;
			text-align:center;

			&:before {
				content: '';
				display: inline-block;
				height: 100%;
				vertical-align: middle;
			}
		}
	}

	&.vertical {

	}

	.page {

		.content {
			text-align: left;
			max-width: 700px;
			max-height: 600px;
			width: 100%;
			height: auto;

			white-space: normal;
			overflow: hidden;
			vertical-align:middle;
			display: inline-block;
		}
	}
}


// assign background colors
.page.main {
	
	&:nth-child(3n) {
		background-image: url('../image/noise/noiseblue.png');
	}
	&:nth-child(3n+1) {
		background-image: url('../image/noise/noiseyellow.png');
	}
	&:nth-child(3n+2) {
		background-image: url('../image/noise/noisegreen.png');
	}
}