$iconMargin: 15px;

.nav {
	user-select: none;
	transition: opacity .3s ease, right .3s ease, bottom .3s ease;
	pointer-events: none;
	z-index: 2;


	.indicators {

		* {
			width: 36px;
			height: 36px;
			cursor: pointer;
			opacity: .5;
			transition: opacity .2s ease, background-color .3s ease;
			pointer-events: auto;
			display:block;
			text-decoration:none;
			transform: translateZ(0);

			&:hover {
				opacity: .7;
			}
		}

		*[data-title]:before {
			content: attr(data-title);
			display: block;
			position: absolute;
			overflow: visible;
			color: rgba(0,0,0,0);
			transition: color .5s ease;
			width: 100px;
			font-size: 14pt;
			pointer-events: none;
		}

		*[data-title]:hover:before {
			color: rgba(0,0,0,1);
		}

		.indicator {
			background-color: transparent;
			border: solid black 4px;
			border-radius: 25px;

			&.active {
				background-color: black;
			}
		}

		.control {
			background: {
				size: contain;
				repeat: no-repeat;
			}
		}
	}

	&.hidden {
		opacity: 0;
	}
}

.vertical > .nav {
	display: table;
	position: fixed;
	right: 0px;
	top: 0px;
	height: 100%;

	.indicators {
		display: table-cell;
		vertical-align: middle;

		* {
			margin: $iconMargin * 2;
		}

		*[data-title]:before {
			text-align: right;
			right: 38px;
		}

		*[data-title]:hover:before {
			
		}

		.control {
			&.first {
				background-image: url(../image/arrows/arrow_up.png);
			}
			&.last {
				background-image: url(../image/arrows/arrow_down.png);
			}
		}
	}

	&.hidden {
		right: -100px;
	}
}
  
.horizontal > .nav {
	display: block;
	position: fixed;
	bottom: 0px;
	width: 100%;

	text-align: center;

	.indicators {

		* {
			margin: $iconMargin;
			display: inline-block;
		}

		*[data-title]:before {
			width: 200px;
			text-align: center;
			left: -100px + $iconMargin;
			top: -30px;
		}

		*[data-title]:hover:before {
			
		}

		.control {
			&.first {
				background-image: url(../image/arrows/arrow_left.png);
			}
			&.last {
				background-image: url(../image/arrows/arrow_right.png);
			}
		}
	}

	&.hidden {
		bottom: -100px;
	}
}

.indicator.active + .control.last {
	opacity: 0;
	cursor: default;
	pointer-events: none;
}

.page, .vertical {
	position: relative;
}