.nav .control, .bounce, #script, .unloaded {
	display: none !important;
}

.nav.hidden {
	opacity: 1;
	
	&.horizontal {
		bottom: 0px;
	}

	&.vertical {
		right: 0px;
	}
}

.arrow {
	cursor: auto;
}

.container.vertical {
	overflow-y: scroll;
}

.container.horizontal {
	overflow-x:scroll;
}

a.internal {
	// make linkless
}
