.nav .control, .bounce, #script, .unloaded {
	display: none !important;
}

.nav.hidden {
	opacity: 1;
}

.arrow {
	cursor: auto;
}

.container.vertical {
	overflow-y: scroll;

	.nav.hidden {
		right: 0px !important;
	}
}

.container.horizontal {
	overflow-x:scroll;

	.nav.hidden {
		bottom: 0px !important;
	}
}

a.internal {
	// make linkless
}
