/************* MAIN **************/
#container_home_main {
	#logo {
		width: 100%;
		margin: 0;
		opacity: .5;
		pointer-events: none;
	}

	p {
		text-align:center !important;
	}
}

/************* ABOUT **************/
#container_about_main {
	.image {
		background-image: url(../image/pages/about-main/me.png);
		float: right;
		margin-right: 32%;
	}
}


#container_about_me {
	.image {
		margin: 3%;
	}

	.image:nth-child(3n+1) {
		background-image: url(../image/pages/me/bham.jpg);
	}
	.image:nth-child(3n+2) {
		background-image: url(../image/pages/me/safety.png);
	}
	.image:nth-child(3n+3) {
		background-image: url(../image/pages/me/uw.jpg);
	}
}

#container_about_now {
	.image {
		margin: 3%;
	}

	.image:nth-child(3n+1) {
		background-image: url(../image/pages/now/backpack.jpg);
	}
	.image:nth-child(3n+2) {
		background-image: url(../image/pages/now/deck.jpg);
	}
}

/************* EXPERIENCE **************/
#container_experience_biology {
	.image:nth-child(3n+1) {
		background-image: url(../image/pages/biology/main.jpg);
	}
}

#container_experience_ecocar {
	.image:nth-child(3n+1) {
		background-image: url(../image/pages/ecocar/main.jpg);
	}
}

/***************** PROJECTS ******************/
#container_projects_sockdraw {
	.image:nth-child(3n+1) {
		background-image: url(../image/pages/sockdraw/main.png);
		background-position: 0% 0%;
	}
	.image:nth-child(3n+2) {
		background-image: url(../image/pages/sockdraw/color.png);
	}
	.image:nth-child(3n+3) {
		background-image: url(../image/pages/sockdraw/dual.png);
	}
}

#container_projects_window-tiler {
	.image:nth-child(3n+1) {
		background-image: url(../image/pages/window-tiler/main.png);
		background-position: 100% 0%;
	}
	.image:nth-child(3n+2) {
		background-image: url(../image/pages/window-tiler/screen.jpg);
	}
	.image:nth-child(3n+3) {
		background-image: url(../image/pages/window-tiler/icon.png);
		background-size: 75% 75%;
	}
}

#container_projects_gccui {
	.image:nth-child(3n+1) {
		background-color: rgb(241,241,241);
		background-image: url(../image/pages/gccui/code.png);
		background-position: 0px 20px;
	}
	.image:nth-child(3n+2) {
		background-image: url(../image/pages/gccui/settings.png);
	}
	.image:nth-child(3n+3) {
		background-image: url(../image/pages/gccui/compiled.png);
	}
}

#container_projects_get-lost {
	.image:nth-child(3n+1) {
		background-image: url(../image/pages/get-lost/main.jpg);
	}
	.image:nth-child(3n+2) {
		background-image: url(../image/pages/get-lost/settings.jpg);
	}
	.image:nth-child(3n+3) {
		background-image: url(../image/pages/get-lost/icon.png);
		background-size: 50%;
	}
}

/************** CONTACT ****************/
#container_contact_main {
	.images {
		left: 0px;
		width: 100%;

		.button {
			margin: 30px;
			color: black;
			text-decoration: none;

			&:before /*, &:after */ {
				display:block;
				position: relative;
				width: 200px;
				right: 68px;
				text-align:center;
				opacity: 0;
				pointer-events: none;
				transition: opacity .3s ease;
				font-size: 12pt;
			}

			&:hover:before /* , &:hover:after */ {
				opacity: .7;
			}

			&:before {
				content: attr(data-text);
				top: 60px;
			}
		}
	}
}