#container_home_main {
	#logo {
		max-width: 100%;
		max-height: 100%;
		margin: 0;
		opacity: .5;
	}

	p {
		text-align:center !important;
	}
}

#container_projects_main {
	.image {
		display: inline-block !important;
	}
	.image:nth-child(6n+1) {
		background-image: url(../image/pages/window-tiler/main.jpg);
	}
	.image:nth-child(6n+2) {
		background-image: url(../image/pages/ecocar/main.jpg);
	}
	.image:nth-child(6n+3) {
		background-image: url(../image/pages/biology/main.jpg);
	}
}

#container_projects_window-tiler {
	.image:nth-child(3n+1) {
		background-image: url(../image/pages/window-tiler/main.jpg);
	}
	.image:nth-child(3n+2) {
		background-image: url(../image/pages/window-tiler/screen.jpg);
	}
	.image:nth-child(3n+3) {
		//background-image: ;
		background-size: 75% 75%;
	}
}

#container_projects_biology {
	.image:nth-child(3n+1) {
		background-image: url(../image/pages/biology/main.jpg);
	}
	.image:nth-child(3n+2) {
		background-image: url(../image/pages/biology/folders.jpg);
	}
	.image:nth-child(3n+3) {
		background-image: url(../image/pages/window-tiler/icon.png);
		background-size: 75% 75%;
	}
}

#container_projects_ecocar {
	.image:nth-child(3n+1) {
		background-image: url(../image/pages/ecocar/main.jpg);
	}
	.image:nth-child(3n+2) {
		background-image: url(../image/pages/ecocar/dial.jpg);
	}
	.image:nth-child(3n+3) {
		background-image: url(../image/pages/ecocar/dial.jpg);
	}
}

#container_projects_get-lost {
	.image:nth-child(3n+1) {
		background-image: url(../image/pages/get-lost/main.jpg);
	}
	.image:nth-child(3n+2) {
		background-image: url(../image/pages/ecocar/main.jpg);
	}
	.image:nth-child(3n+3) {
		background-image: url(../image/pages/get-lost/settings.jpg);
	}
}

#container_contact_main {
	.images {
		left: 0px;
		width: 100%;

		.button {
			margin: 30px;
			color: black;
			text-decoration: none;

			&:before /*, &:after */ {
				display:block;
				position: relative;
				width: 200px;
				right: 68px;
				text-align:center;
				opacity: 0;
				pointer-events: none;
				-webkit-transition: opacity .3s ease;
			}

			&:hover:before /* , &:hover:after */ {
				opacity: .7;
			}

			&:before {
				content: attr(data-text);
				top: 60px;
			}

			/*
			&:after {
				content: attr(data-title);
				bottom: 40px;
			}
			*/
		}
	}
}