<div class="content">
        <div class="column">
                <h2>biology</h2>
                <p>Since the summer of 2013 I've been the sole developer and maintainer of the course site system used at the Biology department at the University of Washington. Created from the ground up in 3 months, it is currently used by a dozen classes and thousands of students every quarter.</p>

                <div class="tech">
                        php, symfony, doctrine, mysql, bcrypt, twig, html, javascript
                </div>

                <div class="images">
                        <a href="https://www.github.com/dmhurley/course-site" class="external button github" target="_blank"></a>
                        <a href="http://courses.biology.washington.edu/biol180" class="external button link" target="_blank"></a>
                </div>
        </div>
        <div class="column images">
                <div title="bio180 homepage" class="image big zoom"></div>
                <p class="comment">The course site system features robust security, advanced teaching tools, and a wide range of customability.</p>
        </div>
</div>