<div class="content">
        <div class="column">
                <h2>ecocar</h2>
                <p>I have been a part of the student led EcoCar competition since 2012, working with a team to design and develop a touch screen inferface to replace the center stack of a 2013 Ford Malibu</p>
                <p>Taking advantage of version control and weekly meetings, we maintain a very active development cycle. Creating a GUI thats safe, efficient, and attractive.</p>

                <div class="tech">
                        javascript, html, sass, sencha touch, java
                </div>

                <div class="images">
                <a href="https://github.com/MixMasterMitch/UWCenterStack" class="external button github" target="_blank"></a>
                <a href="http://www.uwecocar2.com" class="external button link" target="_blank"></a>
                </div>
        </div>
         <div class="column images">
                <div title="feel your way" class="image big zoom"></div>
                <p class="comment">Our touch screen interface earned 2nd place in the second year of the international contest. It is currently being rapidly developed for the final competition.</p>
        </div>
</div>