:local(.styles) {

  .banner {
    display: flex;
    flex-direction: row;
    background: #538CCC;
    padding: 10px;

    a {
      color: white;
      padding: 10px;
    }

    a.active {
      background: white;
      color: #538CCC;
      text-decoration: none;
    }
  }
}
