<!DOCTYPE html>
<html>
    <head>
        <link href="style/main.css" rel="stylesheet" type="text/css" />

        <script src="lib/lodash.js"></script>
        <script src="lib/angular.js"></script>
        <script src="script/main.js"></script>
    </head>
    <body ng-app="app">
        <header>
            <div id="top"></div>
            <div id="bottom"></div>
        </header>
        <div>
            <nav ng-controller="NavController">
                <ul>
                    <li ng-repeat="section in site.sections">
                        <a href="{{section.getUrl()}}">{{section.name}}</a>
                        <ul>
                            <li ng-repeat="article in section.articles">
                                <a href="{{article.getUrl()}}">{{article.name}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <main ng-controller="MainController">
                <site-section ng-repeat="section in site.sections" section="section">

                </site-section>
            </main>
        </div>
    </body>
</html>
