<div class="content">
        <div class="images">
                <a href="mailto:nickclaw@uw.edu" class="external button mail hover" data-title="email" data-text="nickclaw@uw.edu"></a>
                <a href="tel:+13604412415" class="external button phone hover" data-title="phone" data-text="1.360.441.2515"></a>
                <a href="http://www.github.com/nickclaw" target="_blank" class="external button github hover" data-title="github" data-text="github.com/nickclaw"></a>
                <a href="http://gplus.to/nickclaw" target="_blank" class="external button plus hover" data-title="google+" data-text="gplus.to/nickclaw"></a>
        </div>
</div>